@model UserModel
@{
    ViewData["Title"] = "Register";
}


<div class="card">
  <div class="card-body">
    <h4 class="card-title">Adicionar</h4>
    <h6 class="card-subtitle mb-2 text-muted">Usuários terão acesso apenas a suas tarefas</h6>

          <form method="post">
            <!-- <div asp-validation-summary="All" class="text-danger"></div> -->
            <hr />
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control col-md-6" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control col-md-6" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control col-md-6" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-tdco">Registrar</button>
            <a class="btn btn-info" asp-action="List">Lista</a>

        </form>
  </div>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
