@model UserModel
@{
    ViewData["Title"] = "Set Password";
}


<div class="card">
  <div class="card-body">
    <h4 class="card-title">Alterar Senha</h4>
    <h6 class="card-subtitle mb-2 text-muted"></h6>

          <form method="post">
            @Html.HiddenFor(a => a.Name)
            @Html.HiddenFor(a => a.Email)


            <hr />
            <div class="form-group">
                <label asp-for="Name"></label>
                @Html.DisplayFor(a => a.Name)
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                @Html.DisplayFor(a => a.Email)
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control col-md-6" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control col-md-6" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-tdco">Alterar</button>
            <a class="btn btn-info" asp-action="List">Lista</a>

        </form>
  </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
