@{
    ViewData["Title"] = "Politica de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>TDCO - Todos os Direitos reservados.</p>
<p>A TDCO mantém os seus dados seguros, ao usar este site você concorda com a politica de privacidade.</p>

