@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="col-md-6 offset-md-3 offset-xs-1">

<br>

<div class="card">
  <div class="card-header card-header-text card-header-tdco">
    <div class="card-text">
      <h2 class="card-title">Login</h2>
      <p></p>
    </div>
  </div>
  <div class="card-body">
        <form id="account" method="post">
         <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group" style="padding-bottom: 25px !important;">
            <input asp-for="Input.Email" class="form-control" placeholder="Email" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Input.Password" class="form-control" placeholder="Password" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-tdco">Entrar</button>
        </div>
        <div class="form-group">
            <!-- <p>
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
            </p> -->
            <p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Não tem conta ainda? Registre-se</a>
            </p>
        </div>
    </form>
  </div>
</div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
