@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrar-se";
}


<div class="col-md-6 offset-md-3 offset-xs-1">
<br>
<div class="card">
  <div class="card-header card-header-text card-header-tdco">
    <div class="card-text">
      <h2 class="card-title">Register</h2>
      <p></p>
    </div>
  </div>
  <div class="card-body">
      <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="form-group" style="padding-bottom: 25px !important;">
                <input asp-for="Input.Name" class="form-control" placeholder="Nome" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-bottom: 25px !important;">
                <input asp-for="Input.Email" class="form-control"  placeholder="Email"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-bottom: 25px !important;">
                <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group" style="padding-bottom: 25px !important;">
                <input asp-for="Input.ConfirmPassword" class="form-control"   placeholder="Confirm Password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-tdco">Registar</button>
            <p>
            <a asp-page="./Login" classbtn btn-success>Já tem conta?, clique para Login</a>
            </p>
        </form>
  </div>
</div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
