/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Ubuntu', Courier, monospace, sans-serif !important;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.paceb {
  padding-bottom: 30px !important;
}

.logo-image {
  width: 230px;
  /* height: 46px;*/

  overflow: hidden;
  margin-top: -6px;
}

.text-tdco {
  color: #3154a5 !important;
}

.card .card-header-tdco {
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2),
    0 13px 24px -11px rgba(76, 175, 80, 0.6);
}

.card .card-header-tdco,
.card.bg-success,
.card.card-rotate.bg-success .front,
.card.card-rotate.bg-success .back {
  background: linear-gradient(60deg, #3154a5, #b69c3b);
}

.btn.btn-tdco {
  color: #fff;
  background-color: #3154a5;
  border-color: #517ba7;
  box-shadow: 0 2px 2px 0 rgba(0, 188, 212, 0.14),
    0 3px 1px -2px rgba(0, 188, 212, 0.2), 0 1px 5px 0 rgba(0, 188, 212, 0.12);
}

.btn.btn-tdco:hover {
  color: #fff;
  background-color: #09276d;
  border-color: #b69c3b;
}

.btn.btn-tdco:focus,
.btn.btn-tdco.focus,
.btn.btn-tdco:hover {
  color: #fff;
  background-color: #09276d;
  border-color: #b69c3b;
}

.btn.btn-tdco:active,
.btn.btn-tdco.active,
.open > .btn.btn-tdco.dropdown-toggle,
.show > .btn.btn-tdco.dropdown-toggle {
  color: #fff;
  background-color: #09276d;
  border-color: #b69c3b;
  box-shadow: 0 2px 2px 0 rgba(0, 188, 212, 0.14),
    0 3px 1px -2px rgba(0, 188, 212, 0.2), 0 1px 5px 0 rgba(0, 188, 212, 0.12);
}

.btn.btn-tdco:active:hover,
.btn.btn-tdco:active:focus,
.btn.btn-tdco:active.focus,
.btn.btn-tdco.active:hover,
.btn.btn-tdco.active:focus,
.btn.btn-tdco.active.focus,
.open > .btn.btn-tdco.dropdown-toggle:hover,
.open > .btn.btn-tdco.dropdown-toggle:focus,
.open > .btn.btn-tdco.dropdown-toggle.focus,
.show > .btn.btn-tdco.dropdown-toggle:hover,
.show > .btn.btn-tdco.dropdown-toggle:focus,
.show > .btn.btn-tdco.dropdown-toggle.focus {
  color: #fff;
  background-color: #09276d;
  border-color: #b69c3b;
}

.btn.btn-tdco.disabled:focus,
.btn.btn-tdco.disabled.focus,
.btn.btn-tdco:disabled:focus,
.btn.btn-tdco:disabled.focus {
  background-color: #09276d;
  border-color: #b69c3b;
}

.btn.btn-tdco.disabled:hover,
.btn.btn-tdco:disabled:hover {
  background-color: #09276d;
  border-color: #b69c3b;
}

.btn.btn-tdco:focus,
.btn.btn-tdco:active,
.btn.btn-tdco:hover {
  box-shadow: 0 14px 26px -12px rgba(0, 188, 212, 0.42),
    0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 188, 212, 0.2);
}

a {
  color: #3154a5;
}

a {
  color: #3154a5;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.nav-pills .nav-item .nav-link.active {
  color: #fff;
  background-color: #09276d !important;
}
