@model TaskUser
@{
    ViewData["Title"] = "Register Task";
}
<div class="row">
  <div class="col-md-8">

    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Adicionar Tarefa</h4>
        <p class="category"></p>
      </div>
      <div class="card-body">
           <form method="post">
            <h4>Nova Tarefa</h4>
            <hr />
            <!-- <div asp-validation-summary="All" class="text-danger"></div> -->
            <div class="form-group">
                <label asp-for="DateOfTest"></label>
                <input type="datetime" autocomplete="off" asp-for="DateOfTest" placeholder="Quando?" class="form-control datepicker col-md-4">
                <span asp-validation-for="DateOfTest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time"></label>
                <input class="form-control clockpicker col-md-4" autocomplete="off" asp-for="Time" type="text" placeholder="Select time" data-autoclose="true">
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="FundationName"></label>
                <input asp-for="FundationName" class="form-control" />
                <span asp-validation-for="FundationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentName"></label>
                <input asp-for="StudentName" class="form-control" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentId"></label>
                <input asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Link"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="UserId"></label>
                <select asp-for="UserId" class ="form-control col-md-6" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
            <a class="btn btn-info" asp-action="List">Lista</a>
        </form>

      </div>
    </div>
  </div>
</div>




@section Scripts {
  <script type="text/javascript">
    $('.clockpicker').clockpicker();
    $('.datepicker' ).datepicker();
  </script>

    <partial name="_ValidationScriptsPartial" />
}
